.DS_Store
node_modules/
dist/
.DS_Store

# Storybook build folder
storybook-static/

# Webstorm IDE
.idea

# Visual Studio Code
.vscode

.cache

# Compressed package when doing npm pack to use for testing on other local sites.
/*.tgz

# testing
/coverage
.jest-cache

# Force ignore of transaction log folder/files
tlog/

*storybook.log
