@use '../../../shared/styles/index.scss';

.button {
    background-color: var(--background-secondary);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    color: var(--text-primary);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
        background-color: var(--hover-color);
    }

    &.disabled {
        background-color: var(--background-secondary);
        border-color: var(--border-color);
        color: var(--text-secondary);
        cursor: not-allowed;
    }
}
