.button {
    background-color: var(--background-secondary);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-primary);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s, color 0.2s;
    user-select: none;

    &:hover {
        background-color: var(--hover-color);
        transform: translate(0, -2px);
        transition: transform 0.75s;
    }

    &:active {
        transform: translate(0, 0);
        transition: transform 0.1s;
    }

    &.disabled {
        background-color: var(--background-secondary);
        border-color: var(--border-color);
        color: var(--text-secondary);
        cursor: not-allowed;
    }
}
