@use '../../../shared/styles/index.scss';

.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    border: 1px solid var(--border-color);
    background-color: var(--background-secondary);
    color: var(--text-primary);

    &:hover {
        background-color: var(--hover-color);
    }

    &.disabled {
        cursor: not-allowed;
        background-color: var(--background-secondary);
        color: var(--text-secondary);
        border-color: var(--border-color);
    }
}
